*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box; }

.navbar {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #F2F2F2; }
  .navbar__sub-container {
    display: flex;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background: #FFF;
    color: rgba(0, 0, 0, 0.95);
    background-color: #F2F2F2; }
    .navbar__sub-container__top {
      display: flex;
      align-items: center;
      list-style: none; }
      .navbar__sub-container__top .navbar-hamburger {
        margin-left: 30px;
        margin-right: 15px; }
        .navbar__sub-container__top .navbar-hamburger-logo {
          width: 28px; }
      .navbar__sub-container__top .navbar-logo {
        margin-right: auto; }
        .navbar__sub-container__top .navbar-logo__img {
          width: 188px; }
    .navbar__sub-container__bottom {
      margin-top: 105px;
      display: flex;
      justify-content: center;
      list-style: none; }
      .navbar__sub-container__bottom .navbar-list {
        font-size: 15px;
        line-height: 15px;
        list-style: none;
        padding: 10px 16px;
        text-transform: uppercase; }
        .navbar__sub-container__bottom .navbar-list__link {
          color: rgba(0, 0, 0, 0.95);
          text-decoration: none; }
          .navbar__sub-container__bottom .navbar-list__link:hover {
            color: #2a8da1; }

.main-container {
  margin: 0 auto;
  width: 70%; }
  .main-container .header {
    font-family: "Lato", sans-serif;
    margin: 60px 0; }
    .main-container .header__link {
      font-family: "PT Serif",serif; }
      .main-container .header__link__text {
        font-size: 15px;
        line-height: 23px;
        color: #49b8cf;
        text-decoration: none; }
        .main-container .header__link__text:hover {
          text-decoration: underline; }
    .main-container .header__heading {
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      color: #000;
      margin: 0;
      margin-bottom: 4px;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 512px) {
        .main-container .header__heading {
          font-size: 38px; } }
    .main-container .header__paragraph {
      font-size: 24px;
      line-height: 28px;
      color: #6d6e72; }
    .main-container .header__social-media__icons {
      width: 245px; }
    .main-container .header__author {
      font-size: 16px;
      line-height: 24px;
      margin: 12px 0; }
      .main-container .header__author span {
        color: #6d6e72; }
      .main-container .header__author__name {
        text-decoration: none;
        color: #000; }
        .main-container .header__author__name:hover {
          color: #49b8cf; }
  .main-container .main-content {
    font-family: "PT Serif",serif;
    margin: 20px auto;
    max-width: 710px; }
    .main-container .main-content__paragraph {
      font-size: 18px;
      line-height: 27px;
      margin: 30px 0;
      color: #000; }
    .main-container .main-content .figure {
      font-family: "Lato", sans-serif;
      color: #000;
      margin-bottom: 40px; }
      .main-container .main-content .figure__heading {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 13px; }
      .main-container .main-content .figure__image {
        width: 100%; }
      .main-container .main-content .figure__caption {
        padding: 13px 10px;
        text-align: left;
        border-left: 5px solid #49b8cf;
        background: 0 0;
        margin: 10px 0; }
        .main-container .main-content .figure__caption__desc {
          padding-bottom: 11px;
          font-size: 16px;
          line-height: 24px; }
        .main-container .main-content .figure__caption__credit {
          font-size: 14px;
          line-height: 14px;
          font-style: italic; }
  .main-container .aside {
    display: flex;
    align-items: center;
    max-width: 680px;
    font-family: "Lato", sans-serif;
    margin: 50px 0; }
    .main-container .aside__figure__heading {
      font-size: 24px;
      line-height: 29px;
      color: #373b40;
      margin-bottom: 10px; }
    .main-container .aside__figure__img {
      width: 290px; }
    .main-container .aside__desc {
      margin-left: 10px;
      margin-bottom: 13px; }
      .main-container .aside__desc__text {
        font-family: "PT Serif", sans-serif;
        font-size: 15px;
        line-height: 23px; }
        .main-container .aside__desc__text__link {
          text-decoration: none;
          color: #49b8cf; }
          .main-container .aside__desc__text__link:hover {
            text-decoration: underline; }
      .main-container .aside__desc__heading {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700; }
        .main-container .aside__desc__heading__text {
          color: #000;
          text-decoration: none; }
          .main-container .aside__desc__heading__text:hover {
            text-decoration: underline; }
      .main-container .aside__desc__paragraph {
        font-family: "PT Serif", sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #000; }
  .main-container .latest__heading {
    border-bottom: 1px solid #EEE;
    padding-bottom: 8px;
    width: 1000px; }
  .main-container .latest__figure__container {
    display: flex; }
  .main-container .latest__figure {
    margin: 10px 20px 10px 0; }
    .main-container .latest__figure__img {
      width: 290px; }

.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border-top: 1px solid #9A9A9A; }
  .footer .figure {
    margin: 0 auto; }
    .footer .figure__logo {
      display: block;
      margin-top: 2rem;
      width: 200px;
      margin-bottom: 1rem; }
    .footer .figure__social {
      width: 200px;
      margin-bottom: 2rem; }
  .footer .copyright {
    width: 60%;
    margin: 1rem auto;
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #8b8d91; }
