.main-container {
    margin: 0 auto;
    width: 70%;

.header {
  
    font-family: "Lato", sans-serif;
    margin: 60px 0;
    &__link{
        font-family: "PT Serif",serif;
        &__text{
            font-size: 15px;
            line-height: 23px;
            color: #49b8cf;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: #000;
        margin: 0;
        margin-bottom: 4px;
        @include respond(small-phone){
            font-size: 38px;
        }
    }
    &__paragraph{
        font-size: 24px;
        line-height: 28px;
        color: #6d6e72;
    }

    &__social-media {
        &__icons {
            width: 245px;
        }
    }

    &__author{
        font-size: 16px;
        line-height: 24px;
        margin: 12px 0;
        span{
            color: #6d6e72;
        }
        &__name{
           
            text-decoration: none;
            color: #000;
            &:hover{
                color: #49b8cf;
            }
        }
    }
}


////////// MAIN CONTENT ////////////
.main-content {
    font-family: "PT Serif",serif;
    // border: 2px solid rebeccapurple;
    margin: 20px auto;
    max-width: 710px;

    &__paragraph {
        font-size: 18px;
        line-height: 27px;
        margin: 30px 0;
        color: #000;
    }


    .figure{
        font-family: "Lato", sans-serif;
        color: #000;
        margin-bottom: 40px;


        &__heading{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 13px;
        }
        
        &__image{
            width: 100%;
        }
        &__caption{
            padding: 13px 10px;
            text-align: left;
            border-left: 5px solid #49b8cf;
            background: 0 0;
            margin: 10px 0;
            
            &__desc{
                padding-bottom: 11px;
                font-size: 16px;
                line-height: 24px;
            }

            &__credit{
                font-size: 14px;
                line-height: 14px;
                font-style: italic;
            }
        }
    }
}

.aside{
        display: flex;
        align-items: center;
        max-width: 680px;
        font-family: "Lato", sans-serif;
        margin: 50px 0;

        &__figure{
            &__heading{
                font-size: 24px;
                line-height: 29px;
                color: #373b40;
                margin-bottom: 10px;

            }
            &__img{
                width: 290px;

            }
        }

        &__desc{
            margin-left: 10px;
            margin-bottom: 13px;
            &__text{
                font-family: "PT Serif", sans-serif;
                font-size: 15px;
                line-height: 23px;

                &__link{
                    text-decoration: none;
                    color: #49b8cf;
                    &:hover{
                        text-decoration: underline;
                    }


                }
            }

            &__heading{
                font-size: 20px;
                line-height: 24px;
                font-weight: 700;
                &__text{
                    color: #000;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            &__paragraph{
                font-family: "PT Serif", sans-serif;
                font-size: 14px;
                line-height: 21px;
                color: #000;
            }
        }

   
    }


    .latest{
        &__heading{
            border-bottom: 1px solid #EEE;
            padding-bottom: 8px;
            width: 1000px;
        }
        &__figure__container{
            display: flex;   
        }
        &__figure{
            margin: 10px 20px 10px 0;
             

            &__img{
                width: 290px;
            }
            &__caption{

            }
        }
   
    }

 
}
