.main-container {
    margin: 0 auto;
    width: 70%;
    // MEDIA QUERIES
    @include respond(tab-port){
        width: 90%;
    }

.header {
    font-family: "Lato", sans-serif;
    margin: 60px 0;
    &__link{
        font-family: "PT Serif",serif;
        &__text{
            font-size: 15px;
            line-height: 23px;
            color: #49b8cf;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: $color-primary-black;
        margin: 0;
        margin-bottom: 4px;
    }
    &__paragraph{
        font-size: 24px;
        line-height: 28px;
        color: #6d6e72;
    }

    &__social-media {
        &__icons {
            width: 245px;
        }
    }

    &__author{
        font-size: 16px;
        line-height: 24px;
        margin: 12px 0;
        span{
            color: #6d6e72;
        }
        &__name{
           
            text-decoration: none;
            color: $color-primary-black;
            &:hover{
                color: #49b8cf;
            }
        }
    }
}


////////// MAIN CONTENT ////////////
.main-content {
    font-family: "PT Serif",serif;
    margin: 20px 0px;
    width: 710px;



    &__paragraph {
        font-size: 18px;
        line-height: 27px;
        margin: 30px 0;
        color: $color-primary-black;
    }


    .figure{
        font-family: "Lato", sans-serif;
        color: $color-primary-black;
        margin-bottom: 40px;
        // MEDIA QUERIES
        @include respond(tab-port){
            width: 919px;
        }


        &__heading{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 13px;
        }
        
        &__image{
            width: 100%;
        }
        &__caption{
            padding: 13px 10px;
            text-align: left;
            border-left: 5px solid #49b8cf;
            background: 0 0;
            margin: 10px 0;
            
            &__desc{
                padding-bottom: 11px;
                font-size: 16px;
                line-height: 24px;
            }

            &__credit{
                font-size: 14px;
                line-height: 14px;
                font-style: italic;
            }
        }
    }
}

.aside{
        display: flex;
        align-items: center;
        max-width: 680px;
        font-family: "Lato", sans-serif;
        margin: 50px 0;

        &__figure{
            &__heading{
                font-size: 24px;
                line-height: 29px;
                color: #373b40;
                margin-bottom: 10px;

            }
            &__img{
                width: 290px;

            }
        }

        &__desc{
            margin-left: 10px;
            margin-bottom: 13px;
            &__text{
                font-family: "PT Serif", sans-serif;
                font-size: 15px;
                line-height: 23px;

                &__link{
                    text-decoration: none;
                    color: #49b8cf;
                    &:hover{
                        text-decoration: underline;
                    }


                }
            }

            &__heading{
                font-size: 20px;
                line-height: 24px;
                font-weight: 700;
                &__text{
                    color: $color-primary-black;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            &__paragraph{
                font-family: "PT Serif", sans-serif;
                font-size: 14px;
                line-height: 21px;
                color: $color-primary-black;
            }
        }

   
    }

    .latest{
        font-family: "Lato", sans-serif;
        color: $color-primary-black;
        margin-bottom: 30px;
        &__heading{
            font-size: 18px;
            line-height: 27px;
            border-bottom: 1px solid #EEE;
            padding-bottom: 8px;
            width: 911px;
        }
        &__figure__container{
            display: flex;   
        }
        &__figure{
            margin: 10px 20px 10px 0;
        
            &__img{
                width: 290px;
            }
            &__caption{
                font-size: 18px;
                line-height: 24px;
                font-weight: 700;
                padding-top: 3px;

            }
        }
   
    }


    .more-stories{
        display: flex;
        justify-content: space-between;
        width: 155%;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 100px;
        // MEDIA QUERIES
        @include respond(tab-port){
            justify-content: space-evenly;
            width: 129.5%;

        }



        &__list{
            list-style: none;            
            // MEDIA QUERIES
            @include respond(tab-port){
                font-size: 19px;
                width: 42%;
                line-height: 23px;

            }

            &__heading{
                font-family: "Lato", sans-serif;
                font-weight: 700;
                margin-bottom: 15px;
                padding-bottom: 17.5px;
                border-bottom: 1px solid #EEE;
                // MEDIA QUERIES
                @include respond(tab-port){
                    padding-bottom: 5px;
                }

            }

            &__items{
                font-weight: 700;
                margin-bottom: 34px;

                &__link{
                    text-decoration: none;
                    color: $color-primary-black;
                    &:hover{
                        text-decoration: underline;
                    }

                }
            }
        }

        &__videos{
            display: flex;
            flex-wrap: wrap;
            margin-left: 30px;
            width: 70%;
            // MEDIA QUERIES
            @include respond(tab-port){
                width: 53%;
            }
            
            &__heading{
                font-family: "Lato", sans-serif;
                font-size: 20px;
                line-height: 23px;
                flex-basis: 100%;
                border-bottom: 1px solid #EEE;

            }

            .figure__videos{
                flex:  1 0 43%;
                margin-top: 15px;
                &__img{
                    width: 250px;
                    // MEDIA QUERIES
                    @include respond(tab-port){
                        width: 230px;
                    }
                }
                &__caption{
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                    // MEDIA QUERIES
                    @include respond(tab-port){
                        font-size: 18px;
                        line-height: 22px;

                    }
                    &__link{
                        text-decoration: none;
                        color: $color-primary-black;
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                }
            }

        }
    }

 
}
