.footer{
    font-family: "PT Serif", sans-serif;
    width: 70%;
    margin: 0 200px;
    border-top: 1px solid #EEE;

    .figure__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &__logo{
            display: inline-block;
            width: 150px;
            height: 100%;
        }
        &__social{
            display: inline-block;
            width: 250px;
            height: 100%;;
        }
    }

    &__list{
        display: flex;
        font-size: 14px;
        line-height: 14px;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 25px;
        &__items{
            padding: 2px;
        }
        &__link{
            color: $color-primary-black;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
                color: #49b8cf;
            }
        }
    }
    

    .copyright{
        width: 100%;

       &__paragraph{
           font-size: 12px;
           line-height: 15px;
           margin-top: 10px;
           color: $color-primary-black;

       }
    }

    .figure__brand{
        margin-top: 10px;
        margin-bottom: 15px;
        &__img{
            width: 100px
        }
    }
}