.footer{
    font-family: "PT Serif", sans-serif;
    width: 70%;
    margin: 0 200px;


    border-top: 1px solid #EEE;
    // MEDIA QUERIES
    @include respond(tab-port){
        width: 90%;
        margin: 0 auto;
    }  @include respond(small-phone){
        width: 620px;
        padding: 0 15px;
    }
    

    .figure__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &__logo{
            display: inline-block;
            width: 150px;
            height: 100%;
            // MEDIA QUERIES
            @include respond(small-phone){
                display: none;
            }
        }
        &__social{
            display: inline-block;
            width: 250px;
            height: 100%;
            // MEDIA QUERIES
         @include respond(small-phone){
            width: 400px;
        }
        }
    }

    &__list{
        display: flex;
        font-size: 14px;
        line-height: 14px;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 25px;
        // MEDIA QUERIES
        @include respond(small-phone){
            flex-wrap: wrap;
            font-size: 24px;
            line-height: 42px;
        }
        &__items{
            padding: 2px;
        }
        &__link{
            color: $color-primary-black;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
                color: #49b8cf;
            }
        }
    }
    

    .copyright{
        width: 100%;

       &__paragraph{
           font-size: 12px;
           line-height: 15px;
           margin-top: 10px;
           color: $color-primary-black;
        // MEDIA QUERIES
           @include respond(small-phone){
            font-size: 20px;
            line-height: 24px;
            margin-top: 15px;
        }

       }
    }

    .figure__brand{
        margin-top: 10px;
        margin-bottom: 15px;
        &__img{
            width: 100px;
            // MEDIA QUERIES
            @include respond(small-phone){
                width: 160px;
            }
        }
    }
}