.navbar {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #F2F2F2;

    // SUB CONTAINER
    &__sub-container {
        display: flex;
        position: fixed;
        top: 0;
        margin: auto;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        background: #FFF;
        color: $color-primary-black;
        background-color: #F2F2F2;

        // TOP NAVBAR
        &__top {
            display: flex;
            align-items: center;
            list-style: none;

            .navbar-hamburger{
                margin-left: 200px;
                margin-right: 20px;
                &-logo {
                    width: 22px;
                }
            }
            .navbar-logo{
                margin-right: auto;
                &__img{
                    width: 188px;
                }
            }
        }

        //  BOTTOM NAVBAR
        &__bottom {
            margin-top: 105px;
            display: flex;
            justify-content:center;
            list-style: none;

            .navbar-list{
                    font-size: 15px;
                    line-height: 15px;
                    list-style: none;
                    padding: 10px 16px;
                    text-transform: uppercase;
                    &__link{
                        color: $color-primary-black;
                        text-decoration: none;
                        &:hover {
                            color: #2a8da1;
                        }
                    }
            }
        }
    }
}






